@keyframes displayProducts {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
