@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes displayProducts {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.product {
  color: black;
  animation: displayProducts 1s;
}
.product__card {
  display: flex;
  justify-content: center;
}
.product__card__img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-left: white 5px solid;
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  box-shadow: 0 0 5px #4f4f4f;
  border-radius: 10px 0px 0px 10px;
}
.product__card__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px #4f4f4f;
  border-radius: 0px 10px 10px 0px;
}
.product__card__desc__title {
  border-bottom: 3px white solid;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.product__card__desc__description {
  width: 550px;
  padding-left: 30px;
}
.product__card__desc__price {
  background-color: coral;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.product__add {
  margin-top: 20px;
  border: none;
  background-color: white;
  border-bottom: coral solid 2px;
  font-size: 20px;
  transition: border-bottom-color 400ms;
}
.product__add:hover {
  border-bottom: aquamarine solid 2px;
  cursor: pointer;
}

.cardmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.cardmain__container {
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0 5px #4f4f4f;
  margin-bottom: 20px;
}
.cardmain input {
  margin-bottom: 10px;
}

.products {
  animation: displayProducts 1s;
}

.thumbnailcard {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.confirmMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 16px #0000002e;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
