.cardmain
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &__container
  {
    padding: 20px 40px 20px 40px;
    box-shadow: 0 0 5px #4f4f4f;
    margin-bottom: 20px;
  }
  input
  {
    margin-bottom: 10px;
  }
}