.products
{
  animation: displayProducts 1s;
}

.thumbnailcard
{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.confirmMain
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmCard
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 16px #0000002e;
  padding: 20px;
}