.product
{
  color: black;
  animation: displayProducts 1s;
  &__card
  {
    display: flex;
    justify-content: center;
    &__img
    {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-left: white 5px solid;
      border-top: white 5px solid;
      border-bottom: white 5px solid;
      box-shadow: 0 0 5px #4f4f4f;
      border-radius: 10px 0px 0px 10px;
    }
    &__desc
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 0 5px #4f4f4f;
      border-radius: 0px 10px 10px 0px;
      &__title
      {
        border-bottom: 3px white solid;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
      }
      &__description
      {
        width: 550px;
        padding-left: 30px;
      }
      &__price
      {
        background-color: coral;
        color: white;
        border-radius: 10px;
        padding: 10px;
      }
    }
  }
  &__add
  {
    margin-top: 20px;
    border: none;
    background-color: white;
    border-bottom: coral solid 2px;
    font-size: 20px;
    transition: border-bottom-color 400ms;
  }
  &__add:hover
  {
    border-bottom: aquamarine solid 2px;
    cursor: pointer;
  }
}